body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  h1 {
    background-color: rgb(40, 181, 185);
    padding: 1em;
    text-align: center;
    margin-top: 0;
  }

  p, img {
      padding-left: 1em;
  }

  a {
    text-decoration: none;
  }
  ol {
    list-style-type:none;
    padding-inline-start: 20px;
  }

  li {
      margin: 5px;
  }

  main {
      text-align: center;
  }